<%- include('partials/header');  -%>

    <h1> <%= singleEntryTitle %> </h1>

    <p> <%= singleEntryText %></p>

    <!-- compose button -->
    <a href="/" class="btn btn-primary">Return Home</a>

<%- include('partials/footer'); -%>
